<po-page-default>
  <div class="po-row d-align-items-center">
    <div class="po-sm-6">
      <img class="max-size-title" (click)="search('')" [src]="'https://static.vecteezy.com/system/resources/thumbnails/027/127/591/small_2x/pokemon-logo-pokemon-icon-transparent-free-png.png'" alt="">
    </div>
    <div class="po-sm-6 input-container">
      <po-input class="po-sm-6 po-p-0" p-placeholder="Procure um Pokemon" ([ngModel])="filter" (p-change)="search($event)"></po-input>
      <po-button class="po-sm-1 po-pt-1" p-kind="primary" p-icon="ph ph-magnifying-glass" (p-click)="search(filter)"></po-button>
    </div>
  </div>
  <div *ngFor="let pokemon of filteredPokemons" class="po-md-3">
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  </div>
</po-page-default>
