<po-page-default>
  <div class="po-row d-align-items-center">
    <div class="po-sm-6">
      <img class="max-size-title" (click)="search('')" [src]="'https://static.vecteezy.com/system/resources/thumbnails/027/127/591/small_2x/pokemon-logo-pokemon-icon-transparent-free-png.png'" alt="">
    </div>
    <div class="po-sm-6 input-container">
      <po-input class="po-sm-6 po-p-0" p-placeholder="Procure um Pokemon" ([ngModel])="filter" (p-change)="search($event)"></po-input>
      <po-button class="po-sm-1 po-pt-1" p-kind="primary" p-icon="ph ph-magnifying-glass" (p-click)="search(filter)"></po-button>
    </div>
  </div>
  <div *ngFor="let pokemon of filteredPokemons" class="po-md-3">
    <div class="card po-mt-3">
      <span class="po-pt-2 po-pl-2 po-font-text-uppercase white-color po-sm-12">Nº{{ getPokemonIdByUrl(pokemon.url) }}</span>
      <img 
        [src]="'https://raw.githubusercontent.com/BrunoScholze/Pokedex/main/pokeDex/src/assets/img/pokemons/poke_' + getPokemonIdByUrl(pokemon.url) + '.gif'" 
        alt="{{ pokemon.name }}" 
        class="pokemon-gif"
      />
      <div class="d-flex-center po-row base">
        <span class="po-pt-5 po-pb-2 name-font po-sm-12 ">{{ capitalizeFirstLetter(pokemon.name) }}</span>
      </div>
    </div>
  </div>
</po-page-default>
