.d-flex-center{
  display: flex !important;
  justify-content: center  !important;
  align-items: center!important; 
  text-align: center;
}

.d-align-items-center{
  display: flex !important;
  align-items: center!important; 
}

.card {
  background: linear-gradient(to right, #2d5ca1, #42a5f5);
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px; 
  overflow: hidden; 
  margin: 30px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.name-font {
  font-family: 'Negriot', sans-serif; 
  font-weight: bold;
  font-size: 24px; 
  color: rgb(51,65,85);
}

.pokemon-gif {
  position: relative;
  max-width: 100%; 
  min-height: 180px;
  height: auto; 
  max-height: 180px; 
  top: 15px;
  object-fit: contain; 
}

.base{
  background-color: rgb(255, 255, 255);
  border-radius: 40px 40px 0 0;
}

.max-size-title{
  max-width: 180px;
  max-height: 300px;
}


.input-container {
  display: flex;   
  justify-content: flex-end; 
}
